body {
  padding-top: 200px;
  /* 생략 */
}

/* joinPage */

.joinBorder {
  border-top: 1px solid black;
  margin: 0;
}
.join_Container {
  display: flex;
  margin: 0;

  flex-direction: column;
}

.join_detailBox {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}

.join_detailBoxfirst {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 200px;
  height: 100%;
  background-color: #eee;
  color: black;
}

.join_detailBoxsecond {
  display: flex;
  align-items: center;
}
.joinBtnInjoin {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join_detailBoxsecond input {
  margin-left: 20px;
  width: 500px;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid #ccc;
}
/* kakao 모달창  */
.modal_container {
  width: 600px;
  height: 600px;
}

.post_modal {
  width: 100%;
  height: 100%;
}

.cartList {
  width: 500px;
  height: 100px;
  border: 1px solid black;
  display: flex;
}

.cart_img {
  width: 100px;
  height: 80px;
}

/* navbar */
#navbar {
  background-color: bisque;
  height: 200px;
  width: 100%;
  position: fixed;
  top: 0;
}

#navbar a {
  color: black;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

#navbar a:hover {
  color: white;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.navbar_site_name {
  height: 80px;
  background-color: #dfddd2;
}

.navbar_category {
  display: flex;
  background-color: #eee;
  height: 120px;
  padding: 1rem;
  font-size: 20px;
}

.navbar_category ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar_category li {
  margin: 0 0.5rem;
}

.navbar_left {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #dfddd2;
}
.navbar_right {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #dfddd2;
}

.navbar_right input {
  background-color: #dfddd2;
  width: 300px;
  border: none;
  border-bottom: 3px solid #ccc;
  outline: none;
}
.cart {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.cart_number {
  margin-bottom: 35px;
  width: 20px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 50%;
  text-align: center;
}

#banner {
  width: 100%;
  height: 800px;
}

#banner img {
  width: 100%;
  height: 100%;
}

/* 상품 컨테이너 */
.product_container {
  height: 500px;
  width: 400px;
}

.product_container img {
  width: 100%;
  height: 400px;
}

.product_container img:hover {
  width: 120%;
  height: 500px;
  cursor: pointer;
  transition: 50ms ease-in;
}

.detail_product {
  display: flex;
}

.detail_product div:first-child {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.detail_product div:nth-child(2) {
  width: 70%;
  display: flex;

  justify-content: flex-start;
}

.newb {
  margin: 0;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  display: flex;
  height: 50px;
}

.newb p {
  margin-left: 20px;
  margin-top: 14px;
  align-self: center;
}

.gun {
  display: flex;
  justify-content: flex-start;
  margin-top: 2em;
}

.gun p {
  margin-left: 10px;
}

.counter_box {
  margin: 0;
  background-color: #f0f0f0;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  display: flex;
  width: 100%;
  height: 80px;
}
.counter_box div:first-child {
  width: 50%;
  font-size: 15px;
  font-weight: bold;
}

.counter_box div:first-child p {
  margin-top: 20px;
}

.counter_box div:nth-child(2) {
  justify-content: flex-end;
  display: flex;
  height: 50px;
  width: 50%;
}

.counter_box div:nth-child(2) div {
  margin-top: 13px;
  border: 1px solid #cccccc;
  height: 50px;
  width: 50px;
  font-size: 25px;
  font-weight: bold;
}

.counter_box div:nth-child(2) div:nth-child(2) {
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter_box div:nth-child(2) div:nth-child(2) p {
  margin-top: 13px;
}

.counter_box div:nth-child(2) button {
  height: 100%;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  border: none;
  background-color: white;
}

.check {
  justify-content: flex-end;
  margin-top: 2em;
  display: flex;
  border-bottom: 1px solid #cccccc;
}

.paygo {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.paygo div:first-child {
  border: 1px solid #cccccc;
  width: 50%;
  height: 100%;
  margin: 5px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.paygo div:first-child:hover {
  cursor: pointer;
}

.paygo div:nth-child(2):hover {
  cursor: pointer;
}

.paygo div:nth-child(2) {
  border: 1px solid white;
  width: 50%;
  height: 100%;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.768);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.counterBox input {
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
  height: 35px;
  border: none;
  border: 3px solid #cccccc;
  border-radius: 7px;
}

.counterBox Button {
  display: inline-block;
  width: 30%;
  text-align: center;
  height: 35px;
  font-weight: bold;
  font-size: 30px;
  line-height: 0.3;
  background-color: #cccccc;
  border: none;
}
.detailInfoBox {
  margin-top: 4em;
  background-color: #fafafa;
}

.detailInfoBox div {
  width: 80%;
  margin-left: 10%;
  color: lightslategray;
}

.detailInfoBox div h5 {
  color: #cccccc;
  font-weight: 400;
}

.h5margin {
  margin-top: 50px;
}

.pay_box {
  width: 100%;
  height: 300px;
  border: 1px solid #cccccc;
  background-color: gainsboro;
}
.pay_box img {
  height: 40%;
  width: 150px;
  margin-left: 50px;
}

.pay_box div:nth-child(2) {
  align-items: center;
  display: flex;
  margin-top: 20px;
}
.infoBox {
  width: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoBox h6 {
  align-self: flex-start;
  font-size: 25px;
}
.infoBox button {
  align-self: flex-end;
}
.bna {
  width: 100%;
  height: 31%;
  background-color: #ccc;
  justify-content: center;
  display: flex;
  align-items: center;
}

.LoginContainer {
  display: flex;
  border: 1px solid #ccc;
  margin-top: 7em;
  border-top: 1px solid black;
}

.LoginContainer div:first-child {
  width: 50%;
  height: 500px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.LoginContainer div:first-child input {
  width: 85%;
  height: 70px;
  font-size: 18px;
  align-self: center;
  outline: none;
  border: none;
  border: 1px solid #cccccc;
}

.LoginContainer div:first-child h4 {
  margin-top: 3em;
  margin-left: 1.55em;
  font-weight: bold;
}

.LoginContainer div:first-child p {
  margin-left: 2.2em;

  color: #cccccc;
  font-weight: bold;
}
.LoginContainer div:nth-child(2) {
  width: 50%;
  height: 500px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.loginBtn {
  margin-top: 1em;
  width: 85%;
  height: 70px;
  background-color: black;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.loginBtn:hover {
  cursor: pointer;
  background-color: white;
  transition: 300ms ease-in;
  color: black;
  border: 2px solid black;
}

.LoginContainer div:nth-child(2) h4 {
  margin-top: 3em;
  margin-left: 1.55em;
  font-weight: bold;
}
.LoginContainer div:nth-child(2) p {
  margin-top: 1em;
  margin-left: 2.2em;
  color: #cccccc;
  font-weight: bold;
}
.joinBtn {
  width: 85%;
  height: 70px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.joinBtn:hover {
  cursor: pointer;
  background-color: black;
  transition: 300ms ease-in;
  color: white;
}
