.App {
  text-align: center;
}

body {
  padding-top: 200px;
  /* 생략 */
}

/* joinPage */
.join_Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join_Form {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* kakao 모달창  */
.modal_container {
  width: 600px;
  height: 600px;
}

.post_modal {
  width: 100%;
  height: 100%;
}

.cartList {
  width: 500px;
  height: 100px;
  border: 1px solid black;
  display: flex;
}

.cart_img {
  width: 100px;
  height: 80px;
}

/* navbar */
#navbar {
  background-color: bisque;
  height: 200px;
  width: 100%;
  position: fixed;
  top: 0;
}

#navbar a {
  color: black;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

#navbar a:hover {
  color: white;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.navbar_site_name {
  height: 80px;
  background-color: #dfddd2;
}

.navbar_category {
  display: flex;
  background-color: #eee;
  height: 120px;
  padding: 1rem;
  font-size: 20px;
}

.navbar_category ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar_category li {
  margin: 0 0.5rem;
}

.navbar_left {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #dfddd2;
}
.navbar_right {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #dfddd2;
}

.navbar_right input {
  background-color: #dfddd2;
  width: 300px;
  border: none;
  border-bottom: 3px solid #ccc;
  outline: none;
}
.cart {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.cart_number {
  margin-bottom: 35px;
  width: 20px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 50%;
  text-align: center;
}

#banner {
  width: 100%;
  height: 800px;
}

#banner img {
  width: 100%;
  height: 100%;
}

/* 상품 컨테이너 */
.product_container {
  height: 500px;
  width: 400px;
}

.product_container img {
  width: 100%;
  height: 400px;
}

.product_container img:hover {
  width: 120%;
  height: 500px;
  cursor: pointer;
  transition: 50ms ease-in;
}
